@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@700;500&display=swap');
.App {
  font-family: 'Playfair Display',serif;
  font-weight: 700;
  font-size: 3 em;  
}
h2{
  font-family:'Playfair Display', serif;
  font-weight: 700;
  font-size: 3 em;
}
button{
  padding: 1 em 1.2 em;
  border: none;
  font-size: 1 em;
  background-color: #131212;
  color: #ffffff;
  border-radius: 0.5 em;
  cursor: pointer;
}
button:hover{
  background-color: #3b3b3b;
}
